<div>
  <h2 id="page-heading" data-cy="SesionHeading">
    <span jhiTranslate="backendApp.sesion.home.title">Sesions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="backendApp.sesion.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sesion"
        [routerLink]="['/sesion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="backendApp.sesion.home.createLabel">Crear nuevo Sesion</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (sesions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="backendApp.sesion.home.notFound">Ningún Sesions encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="token">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sesion.token">Token</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estadoFlujo">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sesion.estadoFlujo">Estado Flujo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="eventoSeleccionado">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sesion.eventoSeleccionado">Evento Seleccionado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ultimaActividad">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sesion.ultimaActividad">Ultima Actividad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expiraEn">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sesion.expiraEn">Expira En</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sesion of sesions(); track trackId(sesion)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sesion', sesion.id, 'view']">{{ sesion.id }}</a>
              </td>
              <td>{{ sesion.token }}</td>
              <td>{{ sesion.estadoFlujo }}</td>
              <td>{{ sesion.eventoSeleccionado }}</td>
              <td>{{ sesion.ultimaActividad | formatMediumDate }}</td>
              <td>{{ sesion.expiraEn | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sesion', sesion.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sesion', sesion.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sesion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
