<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sesionUsuario(); as sesionUsuarioRef) {
      <div>
        <h2 data-cy="sesionUsuarioDetailsHeading">
          <span jhiTranslate="gestionEventosApp.sesionUsuario.detail.title">Sesion Usuario</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sesionUsuarioRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestionEventosApp.sesionUsuario.estadoFlujo">Estado Flujo</span></dt>
          <dd>
            <span>{{ sesionUsuarioRef.estadoFlujo }}</span>
          </dd>
          <dt><span jhiTranslate="gestionEventosApp.sesionUsuario.datosTemporales">Datos Temporales</span></dt>
          <dd>
            <span>{{ sesionUsuarioRef.datosTemporales }}</span>
          </dd>
          <dt><span jhiTranslate="gestionEventosApp.sesionUsuario.ultimaActualizacion">Ultima Actualizacion</span></dt>
          <dd>
            <span>{{ sesionUsuarioRef.ultimaActualizacion | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gestionEventosApp.sesionUsuario.user">User</span></dt>
          <dd>
            <span>{{ sesionUsuarioRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/sesion-usuario', sesionUsuarioRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
