<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuario(); as usuarioRef) {
      <div>
        <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="backendApp.usuario.detail.title">Usuario</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ usuarioRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.username">Username</span></dt>
          <dd>
            <span>{{ usuarioRef.username }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.password">Password</span></dt>
          <dd>
            <span>{{ usuarioRef.password }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.firstName">First Name</span></dt>
          <dd>
            <span>{{ usuarioRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.lastName">Last Name</span></dt>
          <dd>
            <span>{{ usuarioRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.email">Email</span></dt>
          <dd>
            <span>{{ usuarioRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.nombreAlumno">Nombre Alumno</span></dt>
          <dd>
            <span>{{ usuarioRef.nombreAlumno }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.descripcionProyecto">Descripcion Proyecto</span></dt>
          <dd>
            <span>{{ usuarioRef.descripcionProyecto }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.jwtToken">Jwt Token</span></dt>
          <dd>
            <span>{{ usuarioRef.jwtToken }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.fechaRegistro">Fecha Registro</span></dt>
          <dd>
            <span>{{ usuarioRef.fechaRegistro | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.usuario.name">Name</span></dt>
          <dd>
            <span>{{ usuarioRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/usuario', usuarioRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
