<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading" jhiTranslate="backendApp.usuario.home.createOrEditLabel">
        Crear o editar Usuario
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="backendApp.usuario.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_username" jhiTranslate="backendApp.usuario.username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_password" jhiTranslate="backendApp.usuario.password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="backendApp.usuario.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="backendApp.usuario.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="backendApp.usuario.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombreAlumno" jhiTranslate="backendApp.usuario.nombreAlumno">Nombre Alumno</label>
          <input
            type="text"
            class="form-control"
            name="nombreAlumno"
            id="field_nombreAlumno"
            data-cy="nombreAlumno"
            formControlName="nombreAlumno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcionProyecto" jhiTranslate="backendApp.usuario.descripcionProyecto"
            >Descripcion Proyecto</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcionProyecto"
            id="field_descripcionProyecto"
            data-cy="descripcionProyecto"
            formControlName="descripcionProyecto"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jwtToken" jhiTranslate="backendApp.usuario.jwtToken">Jwt Token</label>
          <input type="text" class="form-control" name="jwtToken" id="field_jwtToken" data-cy="jwtToken" formControlName="jwtToken" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaRegistro" jhiTranslate="backendApp.usuario.fechaRegistro">Fecha Registro</label>
          <div class="input-group">
            <input
              id="field_fechaRegistro"
              data-cy="fechaRegistro"
              type="text"
              class="form-control"
              name="fechaRegistro"
              ngbDatepicker
              #fechaRegistroDp="ngbDatepicker"
              formControlName="fechaRegistro"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaRegistroDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="backendApp.usuario.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
