<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-sesion-usuario-heading"
        data-cy="SesionUsuarioCreateUpdateHeading"
        jhiTranslate="gestionEventosApp.sesionUsuario.home.createOrEditLabel"
      >
        Crear o editar Sesion Usuario
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gestionEventosApp.sesionUsuario.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_estadoFlujo" jhiTranslate="gestionEventosApp.sesionUsuario.estadoFlujo">Estado Flujo</label>
          <input
            type="text"
            class="form-control"
            name="estadoFlujo"
            id="field_estadoFlujo"
            data-cy="estadoFlujo"
            formControlName="estadoFlujo"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_datosTemporales" jhiTranslate="gestionEventosApp.sesionUsuario.datosTemporales"
            >Datos Temporales</label
          >
          <input
            type="text"
            class="form-control"
            name="datosTemporales"
            id="field_datosTemporales"
            data-cy="datosTemporales"
            formControlName="datosTemporales"
          />
        </div>

        @let ultimaActualizacionRef = editForm.get('ultimaActualizacion')!;
        <div class="mb-3">
          <label class="form-label" for="field_ultimaActualizacion" jhiTranslate="gestionEventosApp.sesionUsuario.ultimaActualizacion"
            >Ultima Actualizacion</label
          >
          <div class="d-flex">
            <input
              id="field_ultimaActualizacion"
              data-cy="ultimaActualizacion"
              type="datetime-local"
              class="form-control"
              name="ultimaActualizacion"
              formControlName="ultimaActualizacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (ultimaActualizacionRef.invalid && (ultimaActualizacionRef.dirty || ultimaActualizacionRef.touched)) {
            <div>
              @if (editForm.get('ultimaActualizacion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('ultimaActualizacion')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="gestionEventosApp.sesionUsuario.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
