<div>
  <h2 id="page-heading" data-cy="SesionUsuarioHeading">
    <span jhiTranslate="gestionEventosApp.sesionUsuario.home.title">Sesion Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gestionEventosApp.sesionUsuario.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sesion-usuario"
        [routerLink]="['/sesion-usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionEventosApp.sesionUsuario.home.createLabel">Crear nuevo Sesion Usuario</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (sesionUsuarios().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionEventosApp.sesionUsuario.home.notFound">Ningún Sesion Usuarios encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estadoFlujo">
              <div class="d-flex">
                <span jhiTranslate="gestionEventosApp.sesionUsuario.estadoFlujo">Estado Flujo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="datosTemporales">
              <div class="d-flex">
                <span jhiTranslate="gestionEventosApp.sesionUsuario.datosTemporales">Datos Temporales</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ultimaActualizacion">
              <div class="d-flex">
                <span jhiTranslate="gestionEventosApp.sesionUsuario.ultimaActualizacion">Ultima Actualizacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="gestionEventosApp.sesionUsuario.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sesionUsuario of sesionUsuarios(); track trackId(sesionUsuario)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sesion-usuario', sesionUsuario.id, 'view']">{{ sesionUsuario.id }}</a>
              </td>
              <td>{{ sesionUsuario.estadoFlujo }}</td>
              <td>{{ sesionUsuario.datosTemporales }}</td>
              <td>{{ sesionUsuario.ultimaActualizacion | formatMediumDatetime }}</td>
              <td>
                {{ sesionUsuario.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sesion-usuario', sesionUsuario.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sesion-usuario', sesionUsuario.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sesionUsuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
