<div>
  <h2 id="page-heading" data-cy="IntegrantesHeading">
    <span jhiTranslate="backendApp.integrantes.home.title">Integrantes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="backendApp.integrantes.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-integrantes"
        [routerLink]="['/integrantes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="backendApp.integrantes.home.createLabel">Crear nuevo Integrantes</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (integrantes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="backendApp.integrantes.home.notFound">Ningún Integrantes encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="backendApp.integrantes.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="apellido">
              <div class="d-flex">
                <span jhiTranslate="backendApp.integrantes.apellido">Apellido</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="identificacion">
              <div class="d-flex">
                <span jhiTranslate="backendApp.integrantes.identificacion">Identificacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="evento.id">
              <div class="d-flex">
                <span jhiTranslate="backendApp.integrantes.evento">Evento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (integrantes of integrantes(); track trackId(integrantes)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/integrantes', integrantes.id, 'view']">{{ integrantes.id }}</a>
              </td>
              <td>{{ integrantes.nombre }}</td>
              <td>{{ integrantes.apellido }}</td>
              <td>{{ integrantes.identificacion }}</td>
              <td>
                @if (integrantes.evento) {
                  <div>
                    <a [routerLink]="['/evento', integrantes.evento.id, 'view']">{{ integrantes.evento.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/integrantes', integrantes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/integrantes', integrantes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(integrantes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
