<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sesion-heading" data-cy="SesionCreateUpdateHeading" jhiTranslate="backendApp.sesion.home.createOrEditLabel">
        Crear o editar Sesion
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="backendApp.sesion.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_token" jhiTranslate="backendApp.sesion.token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estadoFlujo" jhiTranslate="backendApp.sesion.estadoFlujo">Estado Flujo</label>
          <input
            type="text"
            class="form-control"
            name="estadoFlujo"
            id="field_estadoFlujo"
            data-cy="estadoFlujo"
            formControlName="estadoFlujo"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_eventoSeleccionado" jhiTranslate="backendApp.sesion.eventoSeleccionado"
            >Evento Seleccionado</label
          >
          <input
            type="number"
            class="form-control"
            name="eventoSeleccionado"
            id="field_eventoSeleccionado"
            data-cy="eventoSeleccionado"
            formControlName="eventoSeleccionado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ultimaActividad" jhiTranslate="backendApp.sesion.ultimaActividad">Ultima Actividad</label>
          <div class="input-group">
            <input
              id="field_ultimaActividad"
              data-cy="ultimaActividad"
              type="text"
              class="form-control"
              name="ultimaActividad"
              ngbDatepicker
              #ultimaActividadDp="ngbDatepicker"
              formControlName="ultimaActividad"
            />
            <button type="button" class="btn btn-secondary" (click)="ultimaActividadDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expiraEn" jhiTranslate="backendApp.sesion.expiraEn">Expira En</label>
          <div class="input-group">
            <input
              id="field_expiraEn"
              data-cy="expiraEn"
              type="text"
              class="form-control"
              name="expiraEn"
              ngbDatepicker
              #expiraEnDp="ngbDatepicker"
              formControlName="expiraEn"
            />
            <button type="button" class="btn btn-secondary" (click)="expiraEnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
